html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  overflow-x: hidden;
  min-width: 320px;
  color: #000000;
}
h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
