@import "../../../styles/vars";
.btn {
  background-color: $primaryColor;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 15px;
  margin-left: 21px;
  margin-bottom: 10px;
}
