.aside {
  max-width: 150px;
  min-height: 100vh;
  background-color: #bdbdbd;
}

.aside__title {
  padding-top: 35px;
  margin-left: 21px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
